body {
  background-color: aqua;
  margin: 0.5px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.f1040,
.schedule1 {
  overflow: hidden;
  width: 60%;
  padding: 6px;
  background-color: white;
  font-size: 0.75vw;
}

.header,
.filing-status,
.filing-status-1,
.principal-info,
.secondary-info,
.address-city,
.address-street,
.address-foreign,
.container1,
.digital-asset,
.standard-deduction,
.standard-deduction-1,
.standard-deduction-2 {
  display: flex;
  border-bottom: 1.5px solid black;
  justify-content: space-between;
  padding: 1px;
}

.address div:nth-child(3) {
  border: none;
}

.address,
.line-33,
.line-36 {
  position: relative;
  border-bottom: 1.5px solid black;
}

.address > div {
  width: 75%;
}

div.presidential-election {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20%;
  align-content: center;
}

.presidential-election span:nth-child(1),
.standard-deduction div:nth-child(1) {
  font-weight: bold;
  text-align: end;
}

.filing-status-1,
.filing-status,
.address-city {
  align-items: end;
}

.container2 {
  border-bottom: 1px solid black;
  padding-left: 150px;
}

.subcontainer1 {
  align-self: self-end;
}

.subcontainer3 {
  font-weight: bold;
}

.subcontainer4 {
  font-weight: bold;
}

.subcontainer5 {
  padding-right: 70px;
}

.subcontainer6 {
  transform: translateX(-20px);
}

input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  overflow: hidden;
  background-color: hsla(0, 4%, 95%, 0.973);
  width: 11vw;
}

.dependents,
.form {
  width: 100%;
  border-bottom: 1.5px solid black;
}

.dependents input[type="text"] {
  width: 90px;
}

.dependents td {
  text-align: center;
}

th span {
  font-weight: normal;
}

thead th:nth-child(1) {
  text-align: justify;
}

.form table td,
.form-refund table td,
.form-owe table td {
  position: relative;
}

.form input[type="text"],
.form-refund input[type="text"],
.form-owe input[type="text"] {
  width: 5.5rem;
  text-align: end;
}

.form table,
.form-refund table,
.form-owe table {
  border-collapse: collapse;
  width: 100%;
}

.form td,
.form-refund td,
.form-owe td {
  height: 18px;
}

.form tr td:nth-last-child(2),
.lines {
  font-weight: bold;
  text-align: center;
  display: table-cell;
}

.arrow-sign {
  text-align: end;
}

.no-wrap {
  white-space: nowrap;
}

.form td:nth-child(3):after {
  content: "";
  position: absolute;
  width: 65%;
  height: 10px;
  vertical-align: bottom;
  overflow: hidden;
}

input[type="checkbox"],
.arrow-sign-checkbox {
  vertical-align: middle;
}

label {
  margin-right: 5px;
}

.address div {
  padding-right: 10px;
}

input[type="text"] {
  color: dodgerblue;
  height: initial;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  margin-top: 30px;
  text-align: center;
}
.form input:read-only {
  background-color: antiquewhite;
}

.dependents table {
  width: 100%;
}
